/courses/ejb/ejb-course/target/
/courses/ejb/ejb-remote-client/nbproject/private/
/courses/ejb/ejb-client-course/nbproject/private/
/courses/ejb/ejb-client-course/build/
/courses/ejb/ejb-client-course/dist/
/courses/tutorials/nbproject/private/
/tutorials/tutorials/nbproject/private/
/tutorials/tutorials/build/